## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique().sort_values(ascending=False)
unique_value_counts

ASK_AMT                   8747
CLASSIFICATION              71
APPLICATION_TYPE            17
INCOME_AMT                   9
AFFILIATION                  6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
SPECIAL_CONSIDERATIONS       2
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts_desc = application_df['APPLICATION_TYPE'].value_counts().sort_values(ascending=False)
app_type_counts_desc

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = value_counts[value_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts_descending = application_df['CLASSIFICATION'].value_counts().sort_values(ascending=False)
classification_counts_descending

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C5200        1
C2600        1
C4200        1
C2190        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts_greater_than_1[classification_counts_greater_than_1 > 1]
classification_counts_greater_than_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
val_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = val_counts[val_counts < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df)
application_df_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df_numeric.drop(columns=['IS_SUCCESSFUL'])
y = application_df_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 10

nn_model = tf.keras.models.Sequential()

# First hidden layer 
# Define the number of features in the input data
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer 
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer 
nn_model.add(tf.keras.layers.Dense(units=1, activation='relu'))

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                1320

 dense_1 (Dense)             (None, 10)                310

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1641 (6.41 KB)
Trainable params: 1641 (6.41 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the model checkpoint callback
checkpoint_path = "model_checkpoint.h5"
model_checkpoint_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    save_weights_only=True,
    save_freq='epoch',
    period=5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [16]:
# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=100, callbacks=[model_checkpoint_callback])

Epoch 1/100
WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 2s 934us/step - loss: 1.8197 - accuracy: 0.6599
Epoch 2/100
804/804 [==============================] - 1s 848us/step - loss: 1.2231 - accuracy: 0.6745
Epoch 3/100
804/804 [==============================] - 1s 848us/step - loss: 0.9998 - accuracy: 0.7031
Epoch 4/100
804/804 [==============================] - 1s 877us/step - loss: 0.9616 - accuracy: 0.7170
Epoch 5/100
804/804 [==============================] - 1s 945us/step - loss: 0.9207 - accuracy: 0.7186
Epoch 6/100
804/804 [==============================] - 1s 888us/step - loss: 1.0594 - accuracy: 0.6962
Epoch 7/100
804/804 [==============================] - 1s 905us/step - loss: 0.8802 - accuracy: 0.7128
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8301 - accuracy: 0.7184
Epoch 9/100
804/804 [==============================] - 1s 853us/step - loss: 0.6752 - accuracy: 0.7286
Epoch 10/100
804/804 [==============================] - 1s 978us/step - loss: 0.7173 - accuracy: 0.7218
Epoch 11/100
804/804 [==============================] - 1s 936us/step - loss: 0.6924 - accuracy: 0.7228
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6961 - accuracy: 0.7229
Epoch 13/100
804/804 [==============================] - 1s 919us/step - loss: 0.8822 - accuracy: 0.7133
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.9393 - accuracy: 0.7084
Epoch 15/100
804/804 [==============================] - 1s 965us/step - loss: 0.9261 - accuracy: 0.7006
Epoch 16/100
804/804 [==============================] - 1s 911us/step - loss: 0.8471 - accuracy: 0.7129
Epoch 17/100
804/804 [==============================] - 1s 982us/step - loss: 0.8198 - accuracy: 0.7170
Epoch 18/100
804/804 [==============================] - 1s 875us/step - loss: 0.6518 - accuracy: 0.7247
Epoch 19/100
804/804 [==============================] - 1s 954us/step - loss: 0.6368 - accuracy: 0.7292
Epoch 20/100
804/804 [==============================] - 1s 942us/step - loss: 0.6333 - accuracy: 0.7315
Epoch 21/100
804/804 [==============================] - 1s 938us/step - loss: 0.6307 - accuracy: 0.7315
Epoch 22/100
804/804 [==============================] - 1s 887us/step - loss: 0.6401 - accuracy: 0.7292
Epoch 23/100
804/804 [==============================] - 1s 922us/step - loss: 0.6725 - accuracy: 0.7230
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6673 - accuracy: 0.7259
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6480 - accuracy: 0.7297
Epoch 26/100
804/804 [==============================] - 1s 905us/step - loss: 0.6641 - accuracy: 0.7270
Epoch 27/100
804/804 [==============================] - 1s 890us/step - loss: 0.6305 - accuracy: 0.7306
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6376 - accuracy: 0.7289
Epoch 29/100
804/804 [==============================] - 1s 980us/step - loss: 0.6406 - accuracy: 0.7301
Epoch 30/100
804/804 [==============================] - 1s 945us/step - loss: 0.6313 - accuracy: 0.7332
Epoch 31/100
804/804 [==============================] - 1s 959us/step - loss: 0.6427 - accuracy: 0.7318
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6388 - accuracy: 0.7301
Epoch 33/100
804/804 [==============================] - 1s 900us/step - loss: 0.6324 - accuracy: 0.7316
Epoch 34/100
804/804 [==============================] - 1s 918us/step - loss: 0.6324 - accuracy: 0.7315
Epoch 35/100
804/804 [==============================] - 1s 944us/step - loss: 0.6417 - accuracy: 0.7292
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6280 - accuracy: 0.7305
Epoch 37/100
804/804 [==============================] - 1s 896us/step - loss: 0.6233 - accuracy: 0.7315
Epoch 38/100
804/804 [==============================] - 1s 913us/step - loss: 0.6139 - accuracy: 0.7330
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6041 - accuracy: 0.7314
Epoch 40/100
804/804 [==============================] - 1s 965us/step - loss: 0.5920 - accuracy: 0.7337
Epoch 41/100
804/804 [==============================] - 1s 920us/step - loss: 0.5909 - accuracy: 0.7327
Epoch 42/100
804/804 [==============================] - 1s 999us/step - loss: 0.5871 - accuracy: 0.7334
Epoch 43/100
804/804 [==============================] - 1s 895us/step - loss: 0.5870 - accuracy: 0.7342
Epoch 44/100
804/804 [==============================] - 1s 882us/step - loss: 0.5886 - accuracy: 0.7311
Epoch 45/100
804/804 [==============================] - 1s 985us/step - loss: 0.5881 - accuracy: 0.7331
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6312 - accuracy: 0.7324
Epoch 47/100
804/804 [==============================] - 1s 897us/step - loss: 0.6223 - accuracy: 0.7257
Epoch 48/100
804/804 [==============================] - 1s 902us/step - loss: 0.6114 - accuracy: 0.7311
Epoch 49/100
804/804 [==============================] - 1s 909us/step - loss: 0.5942 - accuracy: 0.7326
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5937 - accuracy: 0.7340
Epoch 51/100
804/804 [==============================] - 1s 922us/step - loss: 0.5861 - accuracy: 0.7318
Epoch 52/100
804/804 [==============================] - 1s 934us/step - loss: 0.5826 - accuracy: 0.7334
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5809 - accuracy: 0.7336
Epoch 54/100
804/804 [==============================] - 1s 910us/step - loss: 0.5830 - accuracy: 0.7337
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5820 - accuracy: 0.7348
Epoch 56/100
804/804 [==============================] - 1s 964us/step - loss: 0.5861 - accuracy: 0.7343
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5809 - accuracy: 0.7355
Epoch 58/100
804/804 [==============================] - 1s 866us/step - loss: 0.5839 - accuracy: 0.7352
Epoch 59/100
804/804 [==============================] - 1s 939us/step - loss: 0.5923 - accuracy: 0.7330
Epoch 60/100
804/804 [==============================] - 1s 920us/step - loss: 0.5928 - accuracy: 0.7353
Epoch 61/100
804/804 [==============================] - 1s 976us/step - loss: 0.5806 - accuracy: 0.7358
Epoch 62/100
804/804 [==============================] - 1s 918us/step - loss: 0.5917 - accuracy: 0.7309
Epoch 63/100
804/804 [==============================] - 1s 904us/step - loss: 0.5881 - accuracy: 0.7311
Epoch 64/100
804/804 [==============================] - 1s 864us/step - loss: 0.5821 - accuracy: 0.7329
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5895 - accuracy: 0.7284
Epoch 66/100
804/804 [==============================] - 1s 918us/step - loss: 0.5844 - accuracy: 0.7320
Epoch 67/100
804/804 [==============================] - 1s 990us/step - loss: 0.5801 - accuracy: 0.7352
Epoch 68/100
804/804 [==============================] - 1s 938us/step - loss: 0.5790 - accuracy: 0.7357
Epoch 69/100
804/804 [==============================] - 1s 921us/step - loss: 0.5848 - accuracy: 0.7356
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5814 - accuracy: 0.7354
Epoch 71/100
804/804 [==============================] - 1s 935us/step - loss: 0.5843 - accuracy: 0.7337
Epoch 72/100
804/804 [==============================] - 1s 980us/step - loss: 0.5913 - accuracy: 0.7358
Epoch 73/100
804/804 [==============================] - 1s 930us/step - loss: 0.5824 - accuracy: 0.7357
Epoch 74/100
804/804 [==============================] - 1s 871us/step - loss: 0.5815 - accuracy: 0.7346
Epoch 75/100
804/804 [==============================] - 1s 939us/step - loss: 0.5916 - accuracy: 0.7313
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5847 - accuracy: 0.7312
Epoch 77/100
804/804 [==============================] - 1s 886us/step - loss: 0.5822 - accuracy: 0.7336
Epoch 78/100
804/804 [==============================] - 1s 966us/step - loss: 0.5801 - accuracy: 0.7337
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5787 - accuracy: 0.7334
Epoch 80/100
804/804 [==============================] - 1s 917us/step - loss: 0.5772 - accuracy: 0.7356
Epoch 81/100
804/804 [==============================] - 1s 935us/step - loss: 0.5767 - accuracy: 0.7360
Epoch 82/100
804/804 [==============================] - 1s 973us/step - loss: 0.5819 - accuracy: 0.7350
Epoch 83/100
804/804 [==============================] - 1s 966us/step - loss: 0.5781 - accuracy: 0.7356
Epoch 84/100
804/804 [==============================] - 1s 926us/step - loss: 0.5790 - accuracy: 0.7325
Epoch 85/100
804/804 [==============================] - 1s 911us/step - loss: 0.5795 - accuracy: 0.7368
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5768 - accuracy: 0.7365
Epoch 87/100
804/804 [==============================] - 1s 912us/step - loss: 0.5824 - accuracy: 0.7341
Epoch 88/100
804/804 [==============================] - 1s 909us/step - loss: 0.5818 - accuracy: 0.7352
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5786 - accuracy: 0.7368
Epoch 90/100
804/804 [==============================] - 1s 926us/step - loss: 0.5783 - accuracy: 0.7360
Epoch 91/100
804/804 [==============================] - 1s 966us/step - loss: 0.5780 - accuracy: 0.7352
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5762 - accuracy: 0.7367
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5781 - accuracy: 0.7370
Epoch 94/100
804/804 [==============================] - 1s 893us/step - loss: 0.5771 - accuracy: 0.7366
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5778 - accuracy: 0.7374
Epoch 96/100
804/804 [==============================] - 1s 996us/step - loss: 0.5780 - accuracy: 0.7367
Epoch 97/100
804/804 [==============================] - 1s 999us/step - loss: 0.5802 - accuracy: 0.7369
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5784 - accuracy: 0.7372
Epoch 99/100
804/804 [==============================] - 1s 880us/step - loss: 0.5759 - accuracy: 0.7367
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5762 - accuracy: 0.7362

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5835 - accuracy: 0.7275 - 389ms/epoch - 1ms/step
Loss: 0.583532452583313, Accuracy: 0.7274635434150696

In [18]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")

C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [19]:
# When loading the HDF5 file for later use, use the following code:
# from tensorflow.keras.models import load_model
#loaded_model = load_model("your_model_name.h5")