## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique().sort_values(ascending=False)
unique_value_counts

ASK_AMT                   8747
CLASSIFICATION              71
APPLICATION_TYPE            17
INCOME_AMT                   9
AFFILIATION                  6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
SPECIAL_CONSIDERATIONS       2
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts_desc = application_df['APPLICATION_TYPE'].value_counts().sort_values(ascending=False)
app_type_counts_desc

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = value_counts[value_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts_descending = application_df['CLASSIFICATION'].value_counts().sort_values(ascending=False)
classification_counts_descending

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C5200        1
C2600        1
C4200        1
C2190        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts_greater_than_1[classification_counts_greater_than_1 > 1]
classification_counts_greater_than_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
val_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = val_counts[val_counts < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df)
application_df_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df_numeric.drop(columns=['IS_SUCCESSFUL'])
y = application_df_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

number_input_features = len(X_train.columns)
hidden_nodes_layer1 = 3
hidden_nodes_layer2 = 3

nn_model = tf.keras.models.Sequential()

# First hidden layer 
# Define the number of features in the input data
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer 
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer 
nn_model.add(tf.keras.layers.Dense(units=1, activation='relu'))

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 132

 dense_1 (Dense)             (None, 3)                 12

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 148 (592.00 Byte)
Trainable params: 148 (592.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [14]:
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the model checkpoint callback
checkpoint_path = "model_checkpoint.h5"
model_checkpoint_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    save_weights_only=True,
    save_freq='epoch',
    period=5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [15]:
# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=100, callbacks=[model_checkpoint_callback])

Epoch 1/100
WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\STEFF\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 2s 1ms/step - loss: 3.0447 - accuracy: 0.4320
Epoch 2/100
804/804 [==============================] - 1s 898us/step - loss: 2.5937 - accuracy: 0.4608
Epoch 3/100
804/804 [==============================] - 1s 970us/step - loss: 2.4192 - accuracy: 0.5478
Epoch 4/100
804/804 [==============================] - 1s 985us/step - loss: 2.2139 - accuracy: 0.5768
Epoch 5/100
804/804 [==============================] - 1s 982us/step - loss: 2.0459 - accuracy: 0.6033
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 1.6226 - accuracy: 0.6231
Epoch 7/100
804/804 [==============================] - 1s 939us/step - loss: 1.5046 - accuracy: 0.6486
Epoch 8/100
804/804 [==============================] - 1s 909us/step - loss: 1.4073 - accuracy: 0.6623
Epoch 9/100
804/804 [==============================] - 1s 930us/step - loss: 1.3351 - accuracy: 0.6646
Epoch 10/100
804/804 [==============================] - 1s 980us/step - loss: 1.0648 - accuracy: 0.6768
Epoch 11/100
804/804 [==============================] - 1s 932us/step - loss: 1.0239 - accuracy: 0.6856
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.9176 - accuracy: 0.6904
Epoch 13/100
804/804 [==============================] - 1s 896us/step - loss: 0.8926 - accuracy: 0.6948
Epoch 14/100
804/804 [==============================] - 1s 946us/step - loss: 0.8895 - accuracy: 0.6929
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8842 - accuracy: 0.6952
Epoch 16/100
804/804 [==============================] - 1s 951us/step - loss: 0.8811 - accuracy: 0.6963
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8835 - accuracy: 0.6893
Epoch 18/100
804/804 [==============================] - 1s 929us/step - loss: 0.8608 - accuracy: 0.6958
Epoch 19/100
804/804 [==============================] - 1s 955us/step - loss: 0.8579 - accuracy: 0.7033
Epoch 20/100
804/804 [==============================] - 1s 894us/step - loss: 0.8457 - accuracy: 0.7051
Epoch 21/100
804/804 [==============================] - 1s 955us/step - loss: 0.8388 - accuracy: 0.7051
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8370 - accuracy: 0.7052
Epoch 23/100
804/804 [==============================] - 1s 923us/step - loss: 0.8357 - accuracy: 0.7066
Epoch 24/100
804/804 [==============================] - 1s 967us/step - loss: 0.8299 - accuracy: 0.7062
Epoch 25/100
804/804 [==============================] - 1s 933us/step - loss: 0.8195 - accuracy: 0.7076
Epoch 26/100
804/804 [==============================] - 1s 929us/step - loss: 0.8189 - accuracy: 0.7089
Epoch 27/100
804/804 [==============================] - 1s 989us/step - loss: 0.8179 - accuracy: 0.7107
Epoch 28/100
804/804 [==============================] - 1s 970us/step - loss: 0.8160 - accuracy: 0.7123
Epoch 29/100
804/804 [==============================] - 1s 975us/step - loss: 0.8158 - accuracy: 0.7124
Epoch 30/100
804/804 [==============================] - 1s 937us/step - loss: 0.8154 - accuracy: 0.7117
Epoch 31/100
804/804 [==============================] - 1s 958us/step - loss: 0.7579 - accuracy: 0.7000
Epoch 32/100
804/804 [==============================] - 1s 915us/step - loss: 0.6388 - accuracy: 0.7102
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6281 - accuracy: 0.7110
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6199 - accuracy: 0.7095
Epoch 35/100
804/804 [==============================] - 1s 910us/step - loss: 0.6163 - accuracy: 0.7120
Epoch 36/100
804/804 [==============================] - 1s 951us/step - loss: 0.6144 - accuracy: 0.7115
Epoch 37/100
804/804 [==============================] - 1s 903us/step - loss: 0.6135 - accuracy: 0.7123
Epoch 38/100
804/804 [==============================] - 1s 919us/step - loss: 0.6145 - accuracy: 0.7122
Epoch 39/100
804/804 [==============================] - 1s 918us/step - loss: 0.6156 - accuracy: 0.7117
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6147 - accuracy: 0.7130
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6037 - accuracy: 0.7130
Epoch 42/100
804/804 [==============================] - 1s 958us/step - loss: 0.5975 - accuracy: 0.7119
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5967 - accuracy: 0.7143
Epoch 44/100
804/804 [==============================] - 1s 994us/step - loss: 0.6276 - accuracy: 0.6721
Epoch 45/100
804/804 [==============================] - 1s 917us/step - loss: 0.5985 - accuracy: 0.7139
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5968 - accuracy: 0.7138
Epoch 47/100
804/804 [==============================] - 1s 904us/step - loss: 0.5963 - accuracy: 0.7142
Epoch 48/100
804/804 [==============================] - 1s 926us/step - loss: 0.5968 - accuracy: 0.7138
Epoch 49/100
804/804 [==============================] - 1s 971us/step - loss: 0.5961 - accuracy: 0.7143
Epoch 50/100
804/804 [==============================] - 1s 929us/step - loss: 0.5962 - accuracy: 0.7140
Epoch 51/100
804/804 [==============================] - 1s 969us/step - loss: 0.5963 - accuracy: 0.7137
Epoch 52/100
804/804 [==============================] - 1s 919us/step - loss: 0.5958 - accuracy: 0.7120
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5960 - accuracy: 0.7126
Epoch 54/100
804/804 [==============================] - 1s 935us/step - loss: 0.5968 - accuracy: 0.7145
Epoch 55/100
804/804 [==============================] - 1s 948us/step - loss: 0.5993 - accuracy: 0.7125
Epoch 56/100
804/804 [==============================] - 1s 946us/step - loss: 0.5959 - accuracy: 0.7145
Epoch 57/100
804/804 [==============================] - 1s 901us/step - loss: 0.5957 - accuracy: 0.7141
Epoch 58/100
804/804 [==============================] - 1s 894us/step - loss: 0.5962 - accuracy: 0.7143
Epoch 59/100
804/804 [==============================] - 1s 886us/step - loss: 0.5961 - accuracy: 0.7126
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5964 - accuracy: 0.7124
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5964 - accuracy: 0.7141
Epoch 62/100
804/804 [==============================] - 1s 938us/step - loss: 0.5952 - accuracy: 0.7134
Epoch 63/100
804/804 [==============================] - 1s 925us/step - loss: 0.5962 - accuracy: 0.7131
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6006 - accuracy: 0.7084
Epoch 65/100
804/804 [==============================] - 1s 918us/step - loss: 0.5960 - accuracy: 0.7145
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5936 - accuracy: 0.7149
Epoch 67/100
804/804 [==============================] - 1s 979us/step - loss: 0.5926 - accuracy: 0.7144
Epoch 68/100
804/804 [==============================] - 1s 968us/step - loss: 0.5913 - accuracy: 0.7144
Epoch 69/100
804/804 [==============================] - 1s 963us/step - loss: 0.5918 - accuracy: 0.7151
Epoch 70/100
804/804 [==============================] - 1s 885us/step - loss: 0.5914 - accuracy: 0.7147
Epoch 71/100
804/804 [==============================] - 1s 960us/step - loss: 0.5923 - accuracy: 0.7139
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5936 - accuracy: 0.7134
Epoch 73/100
804/804 [==============================] - 1s 865us/step - loss: 0.5973 - accuracy: 0.7144
Epoch 74/100
804/804 [==============================] - 1s 916us/step - loss: 0.5989 - accuracy: 0.7133
Epoch 75/100
804/804 [==============================] - 1s 919us/step - loss: 0.5972 - accuracy: 0.7158
Epoch 76/100
804/804 [==============================] - 1s 912us/step - loss: 0.5980 - accuracy: 0.7139
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5999 - accuracy: 0.7124
Epoch 78/100
804/804 [==============================] - 1s 969us/step - loss: 0.5972 - accuracy: 0.7150
Epoch 79/100
804/804 [==============================] - 1s 975us/step - loss: 0.5934 - accuracy: 0.7137
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5926 - accuracy: 0.7145
Epoch 81/100
804/804 [==============================] - 1s 970us/step - loss: 0.5925 - accuracy: 0.7144
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5917 - accuracy: 0.7145
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5844 - accuracy: 0.7151
Epoch 84/100
804/804 [==============================] - 1s 965us/step - loss: 0.5809 - accuracy: 0.7142
Epoch 85/100
804/804 [==============================] - 1s 924us/step - loss: 0.5812 - accuracy: 0.7145
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5810 - accuracy: 0.7137
Epoch 87/100
804/804 [==============================] - 1s 960us/step - loss: 0.5812 - accuracy: 0.7138
Epoch 88/100
804/804 [==============================] - 1s 903us/step - loss: 0.5820 - accuracy: 0.7133
Epoch 89/100
804/804 [==============================] - 1s 897us/step - loss: 0.5800 - accuracy: 0.7144
Epoch 90/100
804/804 [==============================] - 1s 952us/step - loss: 0.5803 - accuracy: 0.7149
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5806 - accuracy: 0.7152
Epoch 92/100
804/804 [==============================] - 1s 904us/step - loss: 0.5801 - accuracy: 0.7150
Epoch 93/100
804/804 [==============================] - 1s 898us/step - loss: 0.5810 - accuracy: 0.7148
Epoch 94/100
804/804 [==============================] - 1s 942us/step - loss: 0.5808 - accuracy: 0.7143
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5804 - accuracy: 0.7147
Epoch 96/100
804/804 [==============================] - 1s 903us/step - loss: 0.5801 - accuracy: 0.7149
Epoch 97/100
804/804 [==============================] - 1s 906us/step - loss: 0.5825 - accuracy: 0.7146
Epoch 98/100
804/804 [==============================] - 1s 974us/step - loss: 0.5814 - accuracy: 0.7140
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5816 - accuracy: 0.7141
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5833 - accuracy: 0.7112

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5851 - accuracy: 0.7104 - 412ms/epoch - 2ms/step
Loss: 0.585149347782135, Accuracy: 0.7104372978210449

In [19]:
# Export our model to HDF5 file
nn_model.save("nn_model.h5")

In [17]:
# When loading the HDF5 file for later use, use the following code:
# from tensorflow.keras.models import load_model
#loaded_model = load_model("your_model_name.h5")